export NVM_DIR="$HOME/.nvm"
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
. ~/.rvm/scripts/rvm
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"
[ -s "/usr/local/share/antigen/antigen.zsh" ] && . "/usr/local/share/antigen/antigen.zsh"
antigen init ~/.antigenrc