export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"

if [ -d "$HOME/.rbenv" ]; then
 	export PATH="$PATH:$HOME/.rbenv/bin"
fi

if which rbenv >/dev/null 2>&1; then
   rbenv() {
     eval "$(command rbenv init -)"
     rbenv "$@"
   }
fi

export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
. ~/.rvm/scripts/rvm
export PATH="$PATH:$HOME/.rvm/bin"

export ZPLUG_HOME="$HOME/.zplug"
source ~/.zplug/init.zsh
source ~/.zplugrc
