function killport() {
	lsof -t -i tcp:$1 | xargs kill
}

function mkd() {
	mkdir -p "$@" && cd "$_";
}

function server() {
	local port="${1:-8000}";
	sleep 1 && open "http://localhost:${port}/" &
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

function benchmark() {
	/usr/bin/time zsh -i -c exit
}

function update() {
	sudo softwareupdate -i -a;
	brew update;
	brew upgrade;
	brew cleanup;

	sudo gem update --system;
	sudo gem update;
	sudo gem cleanup;

	cd ~/.workstation;
	npm install npm -g;
	npm update -g;
}