[user]
	name = Aaron Noel De Leon
	email = here@nelo.is
[alias]
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	delete-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	discard-changes = "!git stash -u && git stash drop"
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	locals = "!git branch --l | cat"
	push-upstream = "!f() { B=`git rev-parse --abbrev-ref HEAD`; git push --set-upstream origin \"$B\":\"$B\"; }; f"
	remotes = "!git branch --r | cat"
	track = "!f() { git checkout --track \"origin/$1\"; }; f"
	whoami = config user.email
[core]
	editor = code
[pull]
	rebase = false
